@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@700&family=Dancing+Script&family=Noto+Serif&family=Secular+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Crimson Pro', serif; */
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Noto Serif', serif;
    /* font-family: 'Secular One', sans-serif; */
    line-height: 1.5;
    background-color: #443556;
    color: whitesmoke;
}

.menu {
    margin: 2rem 0;
}

.menu-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

img {
    width: 100%;
    display: block;
}

.menu-head {
    text-align: center;
}

.menu-head h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.6rem;
}

.menu-head p {
    font-weight: 300;
    padding: 1.8rem 0;
}

.menu-btns {
    padding: 0.6rem 0;
    display: flex;
    justify-content: center;
}

.menu-btn {
    font-family: 'Secular One', sans-serif;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    background: none;
    border: none;
    color: #ff9505;
    display: block;
    margin: 0 1rem;
    cursor: pointer;
    outline: 0;
    transition: opacity 0.4s ease-out;
}

.menu-btn::after {
    content: '';
    display: block;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background: #ff9505;
    margin-top: 0.5rem;
    width: 0;
    transition: width 0.4s ease-out;
}

.menu-btn:hover::after {
    width: 100%;
}

.menu-btn:hover {
    opacity: 0.8;
}

.active-btn {
    color: rgb(232, 235, 238);
}

